<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="profile">
      <section name="Program" type="System.Configuration.NameValueSectionHandler, System, Version=1.0.3300.0, Culture=neutral, PublicKeyToken=b77a5c561934e089, Custom=null" />
      <section name="GUI" type="System.Configuration.NameValueSectionHandler, System, Version=1.0.3300.0, Culture=neutral, PublicKeyToken=b77a5c561934e089, Custom=null" />
    </sectionGroup>
  </configSections>
  <profile>
    <Program>
      <add key="ProcessListOnApplicationLoad" value="True" />
      <add key="ConfirmApplicationExit" value="True" />
      <add key="AutomaticallySaveLog" value="False" />
      <add key="ProcessingThreadPriority" value="Normal" />
    </Program>
    <GUI>
      <add key="RememberWindowSettings" value="True" />
    </GUI>
  </profile>
</configuration>